# Python interview for a data analyst role at an e-commerce firm.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
  'Date': pd.date_range(start='2023-01-01', periods=31, freq='D'),
  'CompanyA_StockPrice': [100, 102, 105, 108, 110, 112, 115, 113, 112, 109, 105, 102, 100, 98, 95, 97, 100, 105, 110, 112, 115, 118, 120, 121, 120, 118, 115, 112, 110, 108, 105],
  'CompanyB_StockPrice': [75, 76, 78, 80, 82, 85, 86, 87, 88, 89, 91, 92, 93, 95, 96, 97, 98, 97, 96, 95, 94, 93, 91, 90, 89, 88, 87, 86, 85, 84, 83]
}

In [3]:
df = pd.DataFrame(data)
df.head()

        Date  CompanyA_StockPrice  CompanyB_StockPrice
0 2023-01-01                  100                   75
1 2023-01-02                  102                   76
2 2023-01-03                  105                   78
3 2023-01-04                  108                   80
4 2023-01-05                  110                   82

## Question 1: Find the top 5 dates when the percentage change in Company A's stock price was the highest.

In [4]:
#First I would calculate the percentage change for the CompanyA_StockPrice Variable
df['CompanyA_PercentageChange'] = df['CompanyA_StockPrice'].pct_change()

In [5]:
#Fetching the top 5 dates using the nlargest Function
top_5_dates = df.nlargest(5, 'CompanyA_PercentageChange')['Date']
print("Top 5 Dates with Highest Percentage Change in Company A's Stock Price:")
print(top_5_dates)

Top 5 Dates with Highest Percentage Change in Company A's Stock Price:
17   2023-01-18
18   2023-01-19
16   2023-01-17
2    2023-01-03
3    2023-01-04
Name: Date, dtype: datetime64[ns]

## Question 2: Calculate the annualized volatility of Company B's stock price. (Hint: Annualized volatility is the standard deviation of daily returns multiplied by the square root of the number of trading days in a year.)

In [6]:
#First I would calculate the percentage change for the CompanyB_StockPrice Variable
df['CompanyB_DailyReturns'] = df['CompanyB_StockPrice'].pct_change()

In [7]:
# Using the formula for volatility and assuming 252 trading days in a year
volatility = np.std(df['CompanyB_DailyReturns']) * np.sqrt(252) 
print("Annualized Volatility of Company B's Stock Price:", volatility)

Annualized Volatility of Company B's Stock Price: 0.24664549347827988

## Question 3: Identify the longest streaks of consecutive days when the stock price of Company A was either increasing or decreasing continuously.

In [8]:
#using the .diff function to find the consecutive increasing/decreasing values
df['CompanyA_Diff'] = df['CompanyA_StockPrice'].diff() > 0

streaks = (df['CompanyA_Diff'] != df['CompanyA_Diff'].shift()).cumsum()
longest_streak = df.groupby(['CompanyA_Diff', streaks])['Date'].count().max()
print("Longest Consecutive Streaks of Increasing/Decreasing Days in Company A's Stock Price:", longest_streak)

Longest Consecutive Streaks of Increasing/Decreasing Days in Company A's Stock Price: 9

## Question 4: Create a new column that represents the cumulative returns of Company A's stock price over the year.

In [9]:
df['CompanyA_CumulativeReturns'] = (1 + df['CompanyA_StockPrice'].pct_change()).cumprod()
df.head()

,Date,CompanyA_StockPrice,CompanyB_StockPrice,CompanyA_PercentageChange,CompanyB_DailyReturns,CompanyA_Diff,CompanyA_CumulativeReturns
0,2023-01-01,100,75,NaN,NaN,False,NaN
1,2023-01-02,102,76,0.020000,0.013333,True,1.02
2,2023-01-03,105,78,0.029412,0.026316,True,1.05
3,2023-01-04,108,80,0.028571,0.025641,True,1.08
4,2023-01-05,110,82,0.018519,0.025000,True,1.10

## Question 5: Calculate the 7-day rolling average of both Company A's and Company B's stock prices and find the date when the two rolling averages were closest to each other.

In [10]:
df['CompanyA_7DayRollingAvg'] = df['CompanyA_StockPrice'].rolling(window=7).mean()
df['CompanyB_7DayRollingAvg'] = df['CompanyB_StockPrice'].rolling(window=7).mean()
df['RollingAvg_Difference'] = abs(df['CompanyA_7DayRollingAvg'] - df['CompanyB_7DayRollingAvg'])
min_difference_date = df.loc[df['RollingAvg_Difference'].idxmin()]['Date']
print("Date with Closest Rolling Averages:", min_difference_date)

Date with Closest Rolling Averages: 2023-01-18 00:00:00

## Question 6: Create a new DataFrame that contains only the dates when Company A's stock price was above its 50-day moving average, and Company B's stock price was below its 50-day moving average.

In [11]:
df['CompanyA_50DayMovingAvg'] = df['CompanyA_StockPrice'].rolling(window=7).mean()
df['CompanyB_50DayMovingAvg'] = df['CompanyB_StockPrice'].rolling(window=7).mean()
filtered_df = df[(df['CompanyA_StockPrice'] > df['CompanyA_50DayMovingAvg']) & (df['CompanyB_StockPrice'] < df['CompanyB_50DayMovingAvg'])]
print("DataFrame with Dates Meeting the Criteria:")
df=pd.DataFrame(filtered_df)
df

DataFrame with Dates Meeting the Criteria:

,Date,CompanyA_StockPrice,CompanyB_StockPrice,CompanyA_PercentageChange,CompanyB_DailyReturns,CompanyA_Diff,CompanyA_CumulativeReturns,CompanyA_7DayRollingAvg,CompanyB_7DayRollingAvg,RollingAvg_Difference,CompanyA_50DayMovingAvg,CompanyB_50DayMovingAvg
19,2023-01-20,112,95,0.018182,-0.010417,True,1.12,102.428571,96.285714,6.142857,102.428571,96.285714
20,2023-01-21,115,94,0.026786,-0.010526,True,1.15,104.857143,96.142857,8.714286,104.857143,96.142857
21,2023-01-22,118,93,0.026087,-0.010638,True,1.18,108.142857,95.714286,12.428571,108.142857,95.714286
22,2023-01-23,120,91,0.016949,-0.021505,True,1.20,111.428571,94.857143,16.571429,111.428571,94.857143
23,2023-01-24,121,90,0.008333,-0.010989,True,1.21,114.428571,93.714286,20.714286,114.428571,93.714286
24,2023-01-25,120,89,-0.008264,-0.011111,False,1.20,116.571429,92.571429,24.000000,116.571429,92.571429
25,2023-01-26,118,88,-0.016667,-0.011236,False,1.18,117.714286,91.428571,26.285714,117.714286,91.428571